@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Londrina+Solid&display=swap');



body {
    font-family: 'Quicksand', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-wrapper {
    max-width: 1200px;
    margin: auto;
}
a {
    color: inherit;
    text-decoration: inherit;
    &:visited{
        color: inherit;
        text-decoration: inherit;
    }
}



