.product-item-wrapper {
    margin: 15px;
    transition: .7s all ease;
    border-radius: 4px;
    padding: 8px;
    width: 220px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.425);
    .product-info-active {
        position: relative;
        bottom: 200px;
        z-index: 0;
        transition: .5s all ease;
        overflow: hidden;
        height: 0px;
    }
    .product-item-img {
        img {
            transform-origin: top left;
            transition: .8s all ease;
            max-width: 100%;
            object-fit: cover;
        }
    }
    .product-item-info {
        text-align: center;
        .product-info-title {
            min-height: 100px;
            text-align: center;
            padding: 5px 0;
        }
        .product-info-details {
            width: 125px;
            height: 35px;
        }
    }
    &.active {
        box-shadow: none;
        width: 100%;
        padding: 0 25%;

        .product-info-active {
            position: relative;
            bottom: 40px;
            z-index: 4;
            background: #fff;
            margin: auto;
            height: auto;
            min-height: 120px;
            width: 85%;
            box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.308);
        }
        .product-item-img {
            overflow: hidden;
            text-align: center;
            img {
                width: 100%;
            }
        }
        .product-item-info {
            display: none;
            .product-info-details {
                display: none;
            }
        }
    }
}